div.Immagine {
    display: flex;
    flex-direction: row;
}

img {
    margin-right: 6px;

}

div.Immagine p {
    margin-top: 0px;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: rgb(46, 46, 136);
}