p {
    color: rgb(0, 0, 0, 1);
    background-color: rgb(134, 134, 54);
    font-family: Pink_Beach;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    text-transform: capitalize;
    text-align: right;


    
    max-width: 250px;

    max-height: 100px;


    overflow: scroll;
}