h1 {
    display: block;
    margin: 20xp auto;
    padding-bottom: 10px;
    background-color: #565656;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 10xp solid #233; 
}

blockquote {
    width: 50%;
    background-color: rgb(152, 140, 74);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    border: 5px solid red;
    margin-top: 20px;
    margin-bottom: 20px;

}

p {
    display: block;
    margin: auto;
    width: fit-content;
    text-align: left;
    border: 5px solid blue;
    border-radius: 10px;
    padding-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}